// linter will not block the page
iframe {
  display: none;
}

.input {
  margin-bottom: 4px;
}

.inputError {
  border-color: red;
}

.errorMessage {
  margin: 0 0 8px;
  font-size: 12px;
  min-height: 12px;
  color: red;

  visibility: hidden;
}

.errorMessageVisible {
  visibility: visible;
}


